.card {
    max-width: 31%;
    flex-grow: 1;
}

.description {
    word-break: break-word;

    a {
        @apply .text-pink-200 .underline;
    }

    ul {
        @apply .list-disc .ml-5;
    }

    p {
        @apply .mb-3;
    }
}