@import "variables";
@import "scss/fontawesome";
@import "scss/regular";
@import "scss/solid";
@import "scss/brands";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        background-color: #efeae8;
        @apply text-gray-700;
    }

    [x-cloak] { display: none; }

    main.hero:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -460px;
        height: 900px;
        transform: skew(0, -11deg);
        animation-name: organic;
        animation-duration: 60s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: cubic-bezier(.07,.07,.77,1.17);
        @apply bg-light-200;
    }

    .white-2 {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -650px;
        height: 900px;
        transform: skew(0, 30deg);
        animation-name: organic2;
        animation-duration: 70s;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
        animation-timing-function: cubic-bezier(.07,.07,.77,1.17);
        @apply bg-light-100;
    }

    @keyframes organic {
        0% {
        transform: translateY(0) skew(0, -11deg);
        }
        30% {
        transform: translateY(-50px) skew(0, -11deg);
        }
        60% {
        transform: translateY(75px) skew(0, -11deg);
        }
        100% {
        transform: translateY(-25px) skew(0, -11deg);
        }
    }

    @keyframes organic2 {
        0% {
        transform: translateY(0) skew(0, 30deg);
        }
        32% {
        transform: translateY(-75px) skew(0, 30deg);
        }
        65% {
        transform: translateY(50px) skew(0, 30deg);
        }
        100% {
        transform: translateY(-50px) skew(0, 30deg);
        }
    }

    @import 'Animations';
    @import 'Card';
}

@import 'custom-utilities';
